fastapi
uvicorn[standard]
starlette
python-jose[cryptography]
python-multipart
python-dotenv
kiteconnect
watchdog
requests
aiofiles
websocket-client
pydantic
APScheduler
PyYAML
jinja2
cryptography
prometheus-client
python-json-logger
httpx
# Database
sqlalchemy
psycopg2-binary
# Messaging and caching
kafka-python
confluent-kafka
redis
